* {
    margin: 0;
    padding: 0;
    display: border-box;
    font-family: 'Arapey', serif;
    font-weight: 400;
}

nav {
    height: 40px;
    position:fixed;
    top: 0; width: 100%;
    background-color: cadetblue;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 2rem;
}

nav a:hover {
    font-weight: 900;
}

#Hero {
    width: 60%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Gallery .card {
    height: 33vh;
    width: 40vw;
    margin: 30px auto;
}
#Gallery .info {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Gallery h1 {
    text-align: center;
}

#callToAction {
    width: 100%;
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#callToAction a {
    border: 2px solid black;
    width: 200px;
    margin: 0 auto;
    font-size: 2rem;
    border-radius: 5px;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: cadetblue;
}

#right {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
